/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-image: url(concrete_seamless.png); }

.container {
  margin: 0px auto;
  max-width: 60%;
  background-color: white; }

h1 {
  font-size: 2em;
  color: blue;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px; }

span {
  color: red; }

.sprite {
  background-image: url(nes-final-fantasy-trans.png);
  background-size: 800%;
  margin: 10px;
  height: 90px;
  width: 60px; }

.right-dude {
  display: inline-block;
  width: 20%;
  margin-left: 35%; }

.left-dude {
  display: inline-block;
  width: 20%; }

.blue-dude {
  background-position: -5px 94px;
  transform: scaleX(-1); }

.red-dude {
  background-color: black; }

.name, .hp {
  font-family: cursive;
  font-size: 1.2em;
  border-bottom: 1px solid purple;
  margin-right: 20%;
  padding-right: 20%;
  line-height: 1.1em; }

.battle-status {
  font-size: 2em;
  font-family: Arial;
  color: orange;
  text-align: center;
  margin-top: 40px; }

.start-button {
  padding: 20px;
  color: white;
  background-color: green;
  border-radius: 10px;
  margin-left: 45%;
  margin-top: 30px;
  font-size: 1.1em;
  text-align: center; }
